<div class="chart-container">
    <div class="chart-container">
        <h2>Do users know about authentication?</h2>
        <canvas id="AuthenticationAnswerChart" >{{ authChart }}</canvas>
    </div>
    <div class="chart-container">
        <h2>Do users know about OIDC?</h2>
        <canvas id="OidcAnswerChart" >{{ oidcChart }}</canvas>
    </div>
    <div class="chart-container">
        <h2>Have users managed an Azure AD tenant?</h2>
        <canvas id="AadAnswerChart" >{{ aadChart }}</canvas>
    </div>
    <div class="chart-container">
        <h2>Do users know about Azure B2C?</h2>
        <canvas id="B2cAnswerChart" >{{ b2cChart }}</canvas>
    </div>
</div>